.navbar {
    background-color: #343a40; /* Warna latar belakang Navbar */
    color: #fff;
}

.navbar .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.navbar .nav-link:hover {
    color: #adb5bd; /* Warna saat hover */
}

.navbar .nav-link:active {
    color: #ff7f50; /* Warna saat aktif */
}
